#container{
   background-color: aquamarine;
    width: 360px;
   margin: 100px auto;
   background: #f7f7f7;
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed{
    color: gray;
    text-decoration: line-through;
}
h1{
    background: salmon;
    color: black;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size:  30px;
    font-weight: normal;
}
ul{
    list-style: none;
}
li:hover span{
    width:40px;
}
span{
    background-color: red;
    margin-right: 20px;
    color:black;
    display: inline-block;
    width: 0px;
    transition: 0.2s linear;
    text-align: center;
    
}
body{
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li{
    background-color: white;
    height: 45px;
    line-height: 45px;
}
li:nth-child(2n){
    background-color: #f7f7f7;
}
input{
    font-size: 20px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: turquoise;
    
}

input:focus{
    background-color: white;
    border:2px solid turquoise;
}
body{
    background: #666600;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #999966, #666600);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #999966, #666600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}